<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="/styles.css?v=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">WS</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>

    <section class="contact-hero">
        <h1>Let's Connect</h1>
        <p>Open to opportunities in Software Engineering, IT, QA, and Cybersecurity</p>
    </section>

    <section class="contact-links">
        <div class="contact-card">
            <h3>Email</h3>
           <a href="mailto:willgsmith@gmail.com">willgsmith00@gmail.com</a>
        </div>

        <div class="contact-card">
            <h3>LinkedIn</h3>
            <a href="https://www.linkedin.com/in/william-smith-0744291a8" target="_blank">
                View Profile 
            </a>
        </div>

        <div class="contact-card">
            <h3>GitHub</h3>
            <a href="https://github.com/wilsmith29" target="_blank">
                View Respositories 
            </a>
        </div>
        
    </section>

    <footer class="site-footer">
        <p>© 2026 William Smith</p>
    </footer>
</body>
</html>