<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/styles.css?v=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">WS</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <section class="projects-header">
        <h1>Projects</h1>
        <h2>Selected work showcasing backend systems, automation, and API integration.</h2>
    </section>

    <section class="project-dashboard">
        <div class="project-card">
            <h3>Selenium Web Scraper & Automation Suite</h3>
            <p class="project-description">Developed a Python-based web scraper to extract structured data 
                from dynamic web pages.
            </p>
            <p class="tech-stack">Tech Stack: Python, Flask, BeautifulSoup, Selenium</p>
            <div class="github-link">
                <a href="https://github.com/wilsmith29/WebScraper" target="_blank">GitHub Link</a>
            </div>
        </div>
        <div class="project-card">
            <h3>Weather Forecast Web Application</h3>
            <p class="project-description">Dynamic Flask-based Weather Application using ZIP to Geolocation conversion.
            </p>
            <p class="tech-stack">Tech Stack: Python, Flask, REST APIs, HTML/CSS, Render</p>
            <div class="github-link">
                <a href="https://github.com/wilsmith29/WeatherAPI" target="_blank">GitHub Link</a>
            </div>
        </div>
        <div class="project-card">
            <h3>Security Vulnerability Scanner</h3>
            <p class="project-description">Scans pasted links to scan for security vulnerabilities such as XSS and headers.
            </p>
            <p class="tech-stack">Tech Stack: Python, Requests</p>
            <div class="github-link">
                <a href="https://github.com/wilsmith29/VulnerabilityScanner" target="_blank">GitHub Link</a>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <p>© 2026 William Smith</p>
    </footer>
</body>
</html>